[Unit]
Description=Build VM template
Wants=build-template.timer
OnFailure=notify-email@%i.service

[Service]
Type=oneshot
ExecStart=/usr/bin/make -C /opt/build-template
